<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Configuração do Classificador {{ classifier | upper }}</title>
    
    <style>
        body {
            background-color: #0d1117;
            color: #c9d1d9;
        }
        .container {
            padding-top: 50px;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .img-confusion-matrix {
            width: 100%;
            max-width: 600px;
            height: auto;
            display: block;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Configuração do Classificador {{ classifier | upper }}</h1>

                <!-- Formulário do classificador -->
                <form action="{{ url_for('select_classifier', classifier=classifier) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
 
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field(class_='form-control') }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success">Treinar Classificador</button>
                </form>
                
                <!-- Botão para voltar à seleção de classificador -->
                <form action="{{ url_for('index') }}" method="get" class="mb-4" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary">Escolher Outro Classificador</button>
                </form>

                <!-- Imagem da Matriz de Confusão -->
                {% if matrix_image %}
                    <h2 class="text-center">Matriz de Confusão</h2>
                    <img src="{{ url_for('static', filename=matrix_image) }}" alt="Matriz de Confusão" class="img-confusion-matrix">
                {% endif %}

                {% if acuracia %}
            <h3 class="text-center">Acurácia do Modelo: {{ acuracia }}</h3>
        {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
